# Mobile Price Classification EDA SQL

### Table of contenet:
<li><a href='#intro'>Introduction</a></li>
<li><a href='#dq'> Data Questions</a></li>

<a id='intro'></a>
## Introduction

* **Context**
<p>Bob has started his own mobile company. He wants to give tough fight to big companies like Apple,Samsung etc.

He does not know how to estimate price of mobiles his company creates. In this competitive mobile phone market you cannot simply assume things. To solve this problem he collects sales data of mobile phones of various companies.

Bob wants to find out some relation between features of a mobile phone(eg:- RAM,Internal Memory etc) and its selling price. But he is not so good at Machine Learning. So he needs your help to solve this problem.

In this problem you do not have to predict actual price but a price range indicating how high the price is. </p>
you can find the dataset [here](https://www.kaggle.com/iabhishekofficial/mobile-price-classification).
* **Dataset files** 
    * train.csv - relation between features of a mobile phone(eg:- RAM,Internal Memory etc) and its selling price range.
    * test.csv - new data need to predict in which price range.
* **Project Goal**
<p>Predict a price range indicating how high the price is</p>
* **Attributes Defintion**
<li>battery_power: Total energy a battery can store in one time measured in mAh</li>
Hint: Capacity loss: the faster the charging speed, the greater the capacity loss.
<li>blue: Has bluetooth or not</li>
<li>clock_speed: speed at which microprocessor executes instructionst</li>
<li>dual_sim: Has dual sim support or not</li>
<li>fc: Front Camera mega pixels</li>
<li>four_g: Has 4G or not</li>
<li>int_memory: Internal Memory in Gigabytes</li>
<li>m_dep: Mobile Depth in cm</li>
<li>mobile_wt: Weight of mobile phone</li>
<li>n_cores: Number of cores of processor</li>
<li>pc: Primary Camera mega pixels</li>
<li>px_height: Pixel Resolution Height</li>
<li>px_width: Pixel Resolution Width</li>
<li>ram: Random Access Memory in Megabytes</li>
<li>sc_h: Screen Height of mobile in cm</li>
<li>sc_w: Screen Width of mobile in cm</li>
<li>talk_time: longest time that a single battery charge will last when you are</li>
<li>three_g: Has 3G or not</li>
<li>touch_screen: Has touch screen or not</li>
<li>wifi: Has wifi or not</li>
<li>price_range: This is the target variable with value of 0(low cost), 1(medium cost), 2(high cost) and 3(very high cost).</li>
* **Answer the following questions:**
<ol>
    <li>What is the maximum , minmum & average of mobile battery power?</li>
    <li>How many sales for mobile which has bluetooth?</li>
    <li>which price range have the most sales?</li>
    <li>What is mobile weight average per price range?</li>
    <li>Does number of cores of processor affect on sales?</li>   
    <li>what is the ram average for mobiles which have front camera per price range?</li>
    <li>What is the battery power average & clock speed for mobiles per price range & wifi</li> 
    <li>What is the average ram , battery power & number of sales for mobile support 4G</li>
    <li>What is average of px_height & px_width of mobiles which has front camera</li>
    <li>How many sales of mobile which has touch screen & wifi</li>
    
</ol>

In [2]:
## Basic Importing 
import sqlite3
import numpy as np
import pandas as pd
pd.set_option('display.max_columns',500)

<a id='dq'></a>
## Data Questions
#### 1- connect to the database

In [3]:
# Files Path
db_path = "../Database/data_db.db"

In [4]:
# create importing data from Sql function
def import_sql(db_path,sql,data):
    '''import data from sql 
        Args: 
            db_path(str): database path
            sql(str):'SELECT SQL Statement'
            data: Parameter in SELECT SQL Statement
        return: 
            SELECT SQL Statement result in a list. 
    '''
    conn = sqlite3.connect(db_path)
    try:
        print(f"try to connect to {db_path.split('/')[-1].split('.')[0]} Database...")
        rows = conn.execute(sql,data).fetchall()
        print("Successuly connected")
        return rows
    except Exception as e:
        print("e is : {}".format(e))
        print(type(e).__name__)
        print('Failed to connect & retrieve data')
    conn.close()

In [5]:
def tuple_to_df(data,columns_name):
    '''convert list of tuples into DataFrame
        Args: 
            data(tuple list): list of tuples
            columns_name(str list):list of columns name
        return: 
            DataFrame. 
    '''
    df = pd.DataFrame(data,columns=list(columns_name))
    return df

#### What is the maximum , minmum & average of mobile battery power?

In [6]:
sql = '''SELECT max(battery_power) as max_power , min(battery_power) as min_power , avg(battery_power) as avg_power
from Features_tb'''
data=[]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [7]:
rows

[(1998, 501, 1238.5185)]

In [8]:
print(f'max_power:{rows[0][0]}, min_power:{rows[0][1]}, avg_power:{rows[0][1]}')

max_power:1998, min_power:501, avg_power:501

####  <li>How many sales for mobile which has bluetooth?</li>

In [9]:
sql = '''
SELECT count(id)as cnt from Features_tb WHERE blue==?
'''
data=[1]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [10]:
print(f'count_sales:{rows[0][0]}')

count_sales:1980

#### which price range have the most sales?

In [11]:
sql = '''SELECT price_range, count(id)as cnt from Features_tb GROUP by price_range'''
data=[]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [12]:
df = tuple_to_df(rows,['price_range','sales_cnt'])
df

   price_range  sales_cnt
0            0       1000
1            1       1000
2            2       1000
3            3       1000

* price range has equal sales count

### <li>What is mobile weight average per price range?</li>

In [13]:
# sales per year
sql = '''SELECT price_range, avg(mobile_wt)as avg_mobile_weight from Features_tb GROUP by price_range'''
data=[]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [14]:
df = tuple_to_df(rows,['price_range','avg_mobile_weight'])
df

   price_range  avg_mobile_weight
0            0            140.552
1            1            140.510
2            2            143.614
3            3            136.320

#### <li>Does number of cores of processor affect on sales?</li>

In [15]:
# sales Month per year
sql = '''SELECT n_cores, count(id) as cnt from Features_tb GROUP by n_cores'''
data=[]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [16]:
df = tuple_to_df(rows,['n_cores','sales_count'])
df['sales%'] = df['sales_count']/df['sales_count'].sum()*100
df

   n_cores  sales_count  sales%
0        1          484   12.10
1        2          494   12.35
2        3          492   12.30
3        4          548   13.70
4        5          492   12.30
5        6          460   11.50
6        7          518   12.95
7        8          512   12.80

* it seems that number of cores didn't affect number of sales.

#### <li>what is the ram average for mobiles which have front camera per price range?</li>

In [17]:
# sales Month per year
sql = '''SELECT price_range, avg(ram) from Features_tb WHERE fc == ? GROUP by price_range'''
data=[1]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [18]:
df = tuple_to_df(rows,['price_range','ram_avg'])
df

   price_range      ram_avg
0            0   829.164179
1            1  1704.187500
2            2  2641.659091
3            3  3458.900000

#### <li>What is the battery power average & clock speed for mobiles per price range & wifi</li>

In [19]:
# sales per department
sql = '''
SELECT price_range ,wifi, avg(battery_power) as power_avg, avg(clock_speed) as clock_speed_avg 
from Features_tb 
GROUP by price_range, wifi 
ORDER by power_avg DESC;
'''
data=[]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [20]:
df = tuple_to_df(rows,['price_range','wifi','power_avg','clock_speed_avg'])
df

   price_range  wifi    power_avg  clock_speed_avg
0            3     1  1380.515267         1.524809
1            3     0  1379.399160         1.515546
2            2     0  1245.024194         1.537097
3            1     1  1231.055556         1.479365
4            1     0  1226.645161         1.497984
5            2     1  1211.880952         1.522619
6            0     0  1125.289683         1.617063
7            0     1  1108.379032         1.482258

#### <li>What is the average ram , battery power & number of sales for mobile support 4G</li>

In [21]:
# sales per department
sql = '''
SELECT avg(ram) as ram_avg ,avg(battery_power) as power_avg,count(id) as cnt_sales
from Features_tb
WHERE four_g == ?
'''
data=[1]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [22]:
print(f'ram_avg:{round(rows[0][0],2)}, power_avg:{round(rows[0][1],2)}, cnt_sales:{round(rows[0][2],2)}')

ram_avg:2131.81, power_avg:1245.11, cnt_sales:2086

#### <li>What is average of px_height & px_width of mobiles which has front camera </li>

In [23]:
# sales per department
sql = '''
SELECT avg(px_height) as px_height_avg ,avg(px_width) as px_width_avg
from Features_tb 
WHERE fc > ?
'''
data=[0]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [24]:
print(f'px_height_avg:{round(rows[0][0],2)}, px_width_avg:{round(rows[0][1],2)}')

px_height_avg:639.2, px_width_avg:1248.47

####  <li>How many sales of mobile which has touch screen & wifi</li>

In [25]:
# sales per department
sql = '''
SELECT count(id) as sales_cnt 
From Features_tb 
WHERE touch_screen == ? AND wifi ==?
'''
data=[1,1]
rows = import_sql(db_path,sql,data)

try to connect to data_db Database...
Successuly connected

In [26]:
print(f'number of sales:{round(rows[0][0],2)}')

number of sales:1032